@inherits LayoutComponentBase
@inject DocumentManagementSystem.Services.UserService UserService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            @if (UserService.CurrentUsername != null)
            {
                <span>@UserService.CurrentUsername</span>
            }
            else
            {
                <span>User</span>
            }
        </div>

        <article class="content px-4">
            @Body    @* <-- THIS is required *@
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <span class="dismiss">×</span>
</div>
