@page "/users"
@using DocumentManagementSystem.Services
@using DocumentManagementSystem.Models
@inject UserService UserService
@rendermode InteractiveServer

<h3>Users</h3>

@if (UserList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserList)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Username</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UserModel>? UserList;

    protected override void OnInitialized()
    {
        UserList = UserService.GetUsers();
    }
}